@charset "utf-8";
/*  lawn.css
---------------------------------------------- */

.lawn body {
    font-family: "Helvetica Neue",
        Arial,
        "Hiragino Kaku Gothic ProN",
        "Hiragino Sans",
        Meiryo,
        sans-serif;
    color: #333;
}
.lawn main {
    margin-top: 80px;
}
.lawn section {
    padding-top: 30px;
    padding-bottom: 30px;
}
.lawn section h2 {
    text-align: center;
}
.lawn html,
.lawn body,
.lawn select,
.lawn option,
.lawn optgroup {
	overflow-wrap: break-word;
	word-wrap: break-word; /* IE edge */
}
.lawn table {
	border-collapse:collapse;
	border-spacing:0;
	empty-cells:show;
    margin: 20px;
}
.lawn table caption{
	margin-bottom: 8px;
	text-align:left;
	font-weight: bold;
}
.lawn table th {
	font-weight:bold;
	text-align:center;
	vertical-align:middle;
    padding: 10px;
    border-bottom: solid 1px #c3d825;
}
.lawn table th.empty {
    width: 100px;
}
.lawn table td {
	text-align:left;
	vertical-align: middle;
    border-bottom: solid 1px #c3d825;
}
.lawn table td.n {
	text-align:right;
}
.lawn table td.empty {
    width: 100px;
}
.lawn a:link {
	text-decoration: none;
	color: #36a7c7;
}
.lawn a:visited {
	text-decoration: none;
	color: #36a7c7;
}
.lawn a:hover{
	text-decoration: none;
	color: #36a7c7;
}
.lawn img {
	border: none;
	vertical-align: middle;
	height: auto;
	max-width: 100%;
	max-height: 100%;
}
.lawn p{
	text-align: center;
	text-justify: inter-ideograph;
}
.lawn ul {
	list-style-type:none;
}
.lawn address{
	font-style:normal;
}
.lawn h1 {
	font-size: 3.8rem;
	font-weight: normal;
}
.lawn h2 {
	font-size: 3.2rem;
	font-weight: normal;
}
.lawn h3 {
	font-size: 2.8rem;
	font-weight: normal;
}
.lawn h4 {
	font-size: 2rem;
	font-weight: normal;
}
.lawn h5 {
	font-size: 1.8rem;
	font-weight: normal;
}
.lawn dl {
    display: flex;
    margin-bottom: 15px;
}
.lawn dl dt {
    width: 260px;
}
.lawn label {
    display: block;
    margin-bottom: 20px;
}
.lawn input {
    display: block;
    margin-top: 5px;
}
.lawn input[type="text"],
.lawn input[type="email"],
.lawn input[type="password"] {
    width: 100%;
    padding: 15px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.lawn textarea {
    width: 100%;
    padding: 15px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.lawn .pc_none {
    display: none !important;
}
.lawn .info_box {
    background-color: #eaf4fc;
    color: #000b00;
    padding: 15px;
    margin: 20px;
    border-radius: 15px;
}
.lawn .center {
    text-align: center;
}

/*  header
-------------------- */
.lawn header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    padding: 0 20px;
    background:transparent;
}
.lawn header img {
    width: 120px;
}
.lawn header button {
    background: #333;
    font-size: 1.4rem;
    font-weight: bold;
    color: #eaf4fc;
}
.lawn header button a {
    color: #eaf4fc !important;
}
/*  footer
-------------------- */
.lawn footer {
    width: 100%;
    padding: 10px 0;
    background: #000b00;
    color: #eaf4fc;
}
.lawn footer .inner {
    display: flex;
    justify-content: space-between;
    font-size: 1.1rem;
}
.lawn footer ul {
    display: flex;
}
.lawn footer ul li {
    margin-right: 25px;
}
.lawn footer ul li a {
    color: #eaf4fc !important;
}
/*  btn
-------------------- */
.lawn .btn_s {
    width: 200px !important;
}
.lawn .btn_vs {
    width: 100px !important;
}
.lawn .btn_white {
    background-color: #eaf4fc !important;
    color: #c3d825 !important;
}
.lawn .btn_red {
    background-color: #eaf4fc !important;
    color: #ee827c !important;
}
.lawn_color {
    background-color: #c3d825;
    color: #eaf4fc;
}
.lawn_inner {
    width: 100%;
    margin: 0 auto;
    font-size: 1.4rem;
}
.lawn_title {
    text-align: center;
}
.lawn_title h1 {
    margin: 0;
}
.lawn_title img {
    width: 300px;
}
.lawn_form {

}
.lawn_form label {
    display: block;
    margin-bottom: 20px;
}
.lawn_form input {
    display: block;
    margin-top: 5px;
}
.lawn_btn {
    display: block;
    width: 100%;
    padding: 15px 0;
    margin: 10px;
    background: #c3d825;
    border-radius: 50px;
    font-size: 1.4rem;
    color: #eaf4fc;
    text-align: center;
    border:transparent;
}
.lawn_btn:hover {
    opacity: 0.7;
}
.lawn a.lawn_btn {
    color: #eaf4fc;
}
.lawn_index {

}
.lawn_table {

}
.lawn_paginate {
    margin-top: 1.5rem;
    justify-content: center;
}
.lawn_show {

}
.lawn_detail {
    display: block;
    margin-left: 20px;
}
.lawn_error {
    color: #ee827c;
}


/*  modile smart phone
---------------------------------------------- */
@media only screen and (max-width: 959px) {
    .lawn .pc_none {
        display: block !important;
    }
	.lawn .sp_none {
		display: none !important;
	}
}
